@model HeadingVM

@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .genislik {
        width: 300px;
    }
</style>

@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Kategori Ekleme Sayfası
                </header>

                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2">Heading Name</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Heading.HeadingName, new { @class = "form-control genislik" })
                            @*@Html.ValidationMessageFor(x => x.Category.CategoryName)*@

                        </div>
                    </div>


                    <br /> <br />


                    <div class="form-group">
                        <label class="col-sm-2">Category Name</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.Heading.CategoryID, new SelectList(Model.Categories, "ID", "CategoryName"), "Lutfen seciniz", new { @class = "form-control genislik" })

                        </div>
                    </div>

                    <br /> <br />
                    <div class="form-group">
                        <label class="col-sm-2">Yazar Name</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.Heading.WriteID, new SelectList(Model.Writes, "ID", "FullName"), "Lutfen seciniz", new { @class = "form-control genislik" })

                        </div>
                    </div>

                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">İşlem : </label>
                        <div class="col-sm-10">
                            <button class="btn btn-primary">Ekle</button>
                        </div>
                    </div>








                </div>


            </section>
        </div>
    </div>
}
